<html>
    <head>
        <title>This is a Test Page</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <a href="/"><h3>Home Page</h3></a>
        <a href="/profile"><h3>Profile Page</h3></a>
        <a href="/new-user"><h3>new User</h3></a>
        <a href='/login'><h3>Login</h3></a>
        <br>
        
        <h1>Hello Boys</h1>

        <form action="/new-user" method="POST">
            <p>The Form</p>
            <button>Submit</button>
        </form>

    </body>
</html>